.user-card {
  width: 450px; /* Largura fixa do cartão de usuário */
  height: 600px; /* Altura fixa do cartão de usuário */
  display: flex; /* Flexbox para organizar o conteúdo */
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  padding: 20px; /* Espaçamento interno */
  border: 2px solid #ccc; /* cor da borda do card */
  border-radius: 12px; /* Arredondamento das bordas */
  text-align: center; /* Centraliza o texto */
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1); /* Sombra suave */
  background-color: #fff; /* Cor de fundo branca */
  transition: transform 0.2s; /* Animação suave ao passar o mouse */
}

.user-card:hover {
  transform: scale(1.02); /* Aumenta em 2% o cartão ao passar o mouse */
}

.avatar {
  width: 120px; /* Largura do avatar */
  height: 120px; /* Altura do avatar */
  border-radius: 50%; /* Torna o avatar circular */
  margin-bottom: 5px; /* Espaçamento abaixo do avatar */
}

.links {
  display: flex; /* Flexbox para organizar os links */
  flex-direction: column; /* Alinha os links em coluna */
  gap: 20px; /* Espaçamento entre os links */
  margin-top: 45px; /* Espaçamento acima dos links */
}

.link-button {
  text-decoration: none; /* Remove o sublinhado */
  padding: 20px 112px; /* Espaçamento interno */
  background-color: #d4d4d4; /* Cor de fundo vermelha */
  color: rgb(0, 0, 0); /* Cor do texto branca */
  border-radius: 20px; /* Bordas arredondadas */
  font-weight: bold; /* Texto em negrito */
  transition: background-color 0.3s; /* Animação suave na mudança de cor */
  transition: transform 0.2s; /* Animação suave ao passar o mouse */
}

.link-button:hover {
  background-color: #868686; /* Cor de fundo mais escura ao passar o mouse */
  color: white;
  transform: scale(1.02);transform: scale(1.02); /* Aumenta em 2% o botão ao passar o mouse */
}
